---
layout: base
---
<article class="post">
  <a href="/">← Return to main feed</a>
  <p>    </p>
  <header class="post-header">
    
    <h1 class="post-title">{{ page.title | escape }}</h1>
    
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.previous %} 
        <a rel="prev" href="{{ page.previous.url }}">&larr; Older</a>
    {% endif %}
    {% if page.previous && page.next %} | {% endif %}
    {% if page.next %} 
        <a rel="next" href="{{ page.next.url }}">Newer &rarr;</a>
    {% endif %}

</article>
